.App {
  
}
body{
  background-color: #2d154b;
}
.movie-container{
  display:flex;
  flex-wrap: wrap;
  
}
.movie
{
  width:300px;
  background-color: #532d81;
  margin:1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  position: relative;
  
  
}

.movie-img
{
  max-width: 100%; 
}

.movie-info
{
  color:white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-over
{
  padding:1rem;
  color:#2d154b;
  background-color: aliceblue;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  height: 70%;
  bottom:0;
  left: 0;
  right: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: -1px -3px 5px rgba(0,0,0,0.1);
}

.movie:hover .movie-over{
  transform: translateY(0%);
}
header{
  display:flex;
  justify-content: flex-end;
  background-color:#532d81 ;
}

.search{
  margin-right:40px;
  margin-top:10px;
  margin-bottom: 10px;
  height:25px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1.2rem;
  color:white;
  border-color: 2px solid #532d81;
}